html, body{ 
font-family: Tahoma, arial, sans-serif; 
margin: 0; 
color: white;
}
 
header{ 
background-image:linear-gradient( #FFDFFF, #CBFFFF, #6A8CCA, #5147C4, #120E29); 
padding: 40px; 
text-align: center; 
} /* #7D8CE9 blue, pink, cyan, blue, dark_blue */


/*OVERALL*/

p, h2, li, ol, ul{
letter-spacing: 1;
line-height: 1.4;
}


.content{ 
max-width: 900px; 
margin: 0 auto; 
padding: 0 20px;
} 



/*THE MAIN BACKGROUND*/


.img_bg{
background-image: url("images/bg4.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
} /*Background for content*/

.alternate_bg{
background: linear-gradient(to bottom, 
rgba(18, 14, 41, 1), 
rgba(18, 14, 41, 0.9), 
rgba(18, 14, 41, 0.8),  
rgba(58, 6, 120, 0.6),
rgba(58, 6, 120, 0.6),
rgba(52, 0, 95, 0.7),
rgba(52, 0, 95, 0.6),   
rgba(18, 14, 50, 0.95),
rgba(18, 14, 41, 1));
background-size: cover;
} /*Transparent Gradient*/




/*MINI HEADERS*/


h1{ 
font-size: 90px; 
color: #ADF1FF; 
} /* Yellowish_white */
 
h1.gradient_text1{
background-image: linear-gradient(#FFFDBB, #FFE2FF, #FF77CD);
background-size: 100%;
background-repeat: repeat;
font-family: arial;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
} /* yellow, pink, pink */

h2{
font-style: bold;
}

h2.gradient_text2{
background-image: linear-gradient(#C677AA, #FFE2FF, #E6E6E6);
background-size: 100%;
background-repeat: repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: arial;
font-size: 35px;
text-indent: 30px;
} /* #FFFDBB, #FFE2FF, #E6E6E6 Yellowish_white, pale_purplish_white(?)idk , white */
/*alternate color yellow,cyan,pink #FFF69D, #9DFBFF, #FF9DF3 */



/*IMAGE*/


header img{ 
border-radius: 90px 20px; 
width: 300px; 
border: 24px solid #3D4177; 
} /* #4C4CA5darkblue, previous 174px */

img.image_center{
display: block;
top: 50%;
left: 50%;
margin-left: auto;
margin-right: auto;
max-width: 8%
}

img.image_right{
float: right; 
display: -webkit-tool;
margin-right: 5px;
padding: 10px;
max-width: 30%;
}

img.image_splashart{
display: block;
top: 50%;
left: 50%;
margin-left: auto;
margin-right: auto;
max-width: 55%
}

img.group-image{
max-width: 100%;
border-radius: 20px 90px; 
border: 15px solid #C87AE7; 
}


/*PARAGRAPH*/


p.summary{
font-size: 20px;
}

p.quote{
font-size: 21px;
color: #FFF7B2;
font-style: none;
text-align: center;
}

p.caption{ 
font-size: 18px; 
color: #FFF7B2; 
font-style: italic; 
margin-left: 50px;
} /*82CDED-lightblue*/

p.voiceline{
font-size: 23px;
text-align: center;
}





/*LISTS ETC*/


ul{ 
list-style: none;
font-size: 20px;
padding: 0; 
margin: 0; 
}

ol{
list-style: none;
font-size: 20px;
padding: 0; 
margin: 0;
}

li.characteristics{
list-style-image: none;
background-image: url("images/new_bullet.png");
background-repeat: no-repeat;
background-position: left center;
background-size: 23px;
font-size: 20px;
padding: 5px 30px;
}



a{ 
color: #C2FF6D;
text-decoration: none;
visited: #FF748D; 
} /* Link */



/*TABLE*/


table.ally{
bgcolor:rgba(0, 0, 0, 0);
text-align: center;
max-width: 70%;
font-size: 20px;
padding: 20px;
}

img.table_img{
max-width: 50%;
border-radius: 25px 10px;
border: 10px solid #8B3090;
} /*oldcolor:713090*/

p.video{
margin-left: 55px;
width: 485px;
height: 30px;
text-align: center;
font-size: 19px;
background-color: #8B3090;
border-radius: 10px 10px;
border: 10px solid #8B3090;
}



/*FOOTER*/


footer{ 
margin-top: 40px;
padding: 40px 20px;
}
 
footer ul{ 
text-align: center; 
} 

footer ul li{ 
display: inline-block; 
margin: 0 5px; 
color: lightgrey; 
font-size: 15px;
}
